* {
	box-sizing: border-box;
}

.menuhead {
margin : 15px; 
text-align : center; 
} 

#container {
display: flex; 
flex-direction: row;
margin-top: 30px; 
}

#menu1 { 
background-color: whitesmoke; 
border: solid 1px; 
margin: 10px; 
} 

#menu2 { 
background-color: whitesmoke;
border: solid 1px; 
margin: 10px; 
} 

#menu3 { 
background-color: whitesmoke;
border: solid 1px;
margin: 10px;
}  

#chicken{
border: solid 1px; 
background-color: lightcyan;
font-weight: bold; 
width: 100px;
text-align: center;
float : right;
} 

#beef {
border: solid black 1px; 
background-color: red;
color: white;
font-weight: bold;
width: 100px;
text-align: center;
float : right;
} 

#sushi {
border: solid 1px; 
background-color: lightyellow; 
font-weight: bold;
width: 100px;
text-align: center; 
float : right; 
}

p {
text-align: justify;
padding: 10px; 
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) { 
	#container {
		flex-wrap: wrap;
	}
	#menu1, #menu2 {
		width: 47.33%;
	}
	#menu3 {		
		flex-basis: 98%; 	
	}
} 

/*Mobile*/
@media (max-width: 767px) {
	#container {
		flex-direction: column;
	}
	/*#menu1, #menu2, #menu3 {
		width: 95%;
	}*/
}